body {
    background-color:#AFEEEE;
    margin: 0px;
}
header{
    display: flex;
    background-color: white;
    padding: 15px 25px;
    align-items: center;
    justify-content: space-between;
}
.Info_superior{
    display: flex;
    align-items: center;
}
.Etiqueta_Info_superior{
    padding: 10px;
    margin: 5px;
    font-size: 22px;
}
.Etiqueta_Info_superior:hover{
    color:red;
}
.Img_Info_superior{
    width: 22px;
    padding-right: 5px;
}
.Img_Mascota{
    width: 150px;
}
.contenedor{
    display: grid;
    max-width: 80%;
    margin-top: 50px;
    margin-left: 180px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2,350px);
    
}
.Mascotas{
    display: grid;
    align-items: center;
    grid-template-rows: 50% 10% 40%;
    padding-left: 28%;
    padding-top: 15%;
}
.Mascotas .Info_Mascotas{
    margin-left: 15%;
    margin-top: 20%;
}
.Img_Mascotas {
    transition: transform 0.9s ease-in-out;
}
button{
    margin-top: 35px;
    grid-row: 3;
    display: none;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    border: none; /* Borde del botón */
    cursor: pointer; /* Cambio de cursor al pasar por encima del botón */
    border-radius: 4px; /* Borde redondeado del botón */
}
.contenedor .Mascotas:hover button{
display: block;
background-color: #0056b3;
}